@import "./constant.scss";
//全局公共常量
@import "./transition.scss";

html {
    height: 100%;
    background: $MENU_BACKGROUND_COLOR;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-menu--collapse {
    width: 66px !important;
}

a {
    text-decoration: none;
}

.appWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .appMenu {
        position: fixed;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background: $MENU_BACKGROUND_COLOR;
        box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
        transition: all 2s;
        z-index: 1000;
    }
    .appContainer {
        position: relative;
        //border-radius: 5px;
        min-height: 100%;
        //flex-direction: column;
        margin-left: 200px;
        background: $CONTAINER_BACKGROUND_COLOR;
        padding-bottom: 10px;
        &.sm {
            margin-left: 64px;
        }
        .layout {
        }
    }

}