$tiffany: #4AB7BD;
//Login
$GREEN_COLOR: #35A03F;

// Menu
$MENU_BACKGROUND_COLOR: #2F323E;

// MenuLogo
$LOGO_FONT_COLOR: #FFFFFF;
$LOGO_BOX_BORDER_RIGHT_COLOR: rgba(0, 0, 0, 0.2);
$LOGO_BACKGROUND_COLOR: #2F323E;

//MenuHeader
$HEADER_BOX_BORDER_BOTTOM_COLOR: rgba(0, 0, 0, 0.2);
$HEADER_IMG_BORDER_COLOR: rgba(0, 0, 0, .3);
$HEADER_STATE_BOX_BACKGROUND_COLOR: #35A03F;
$HEADER_STATE_FONT_COLOR: #FFFFFF;
$HEADER_FONT_COLOR: #FFFFF3;

//TopBar
$TOP_BAR_BACKGROUND_COLOR: #2F323E;
$TOP_BAR_ITEM_BACKGROUND_HOVER_COLOR: rgba(0, 0, 0, 0.2);

//NavBar
$NAV_BAR_TAB_BORDER_COLOR: #d8dce5;
$NAV_BAR_TAB_BORDER_HOVER_COLOR: #4AB7BD;
$NAV_BAR_TAB_BORDER_ACTIVE_COLOR: #4AB7BD;
$NAV_BAR_TAB_BACKGROUND_COLOR: #FFFFFF;
$NAV_BAR_TAB_BACKGROUND_ACTIVE_COLOR: #4AB7BD;
$NAV_BAR_TAB_FONT_COLOR: #495060;
$NAV_BAR_TAB_FONT_ACTIVE_COLOR: #FFFFFF;

//Container
$CONTAINER_BACKGROUND_COLOR: #F5F5F5;

//Information_Box
$INFORMATION_BOX_ICON_BACKGROUND: #20C1ED;
$INFORMATION_BOX_BACKGROUND_COLOR: #FFFFFF;
$INFORMATION_BOX_TITLE_FONT_COLOR: #B7B7B7;
$INFORMATION_BOX_CONTENT_FONT_COLOR: #495060;

//Chart
$CHART_BOX_BACKGROUND: #FFFFFF;

//Calendar
$CALENDAR_BACKGROUND: #FFFFFF;
$CALENDER_BORDER_COLOR: #FAFAFA;
$CALENDER_STATIC_INFO_FONT_COLOR: #969BA9;
$CALENDER_NORMAL_INFO_DAYS_COLOR: #464A52;
$CALENDER_NORMAL_INFO_DAYS_NOCHOOSE_COLOR: #969BA9;
$CALENDER_HOVER_BACKGROUND: #5EB2ED;
$CALENDER_TODAY_BTN_BACKGROUND: #5EB2ED;
$CALENDER_SIMPLE_EVENT_BACKGROUND: #F59072;
$CALENDER_MEDIUM_EVENT_BACKGROUND: #9F84FC;
$CALENDER_IMPORTANT_EVENT_BACKGROUND: #F45659;

//box
$BOX_BACKGROUND: #FFFFFF;
$BOX_TITLE_BORDER_COLOR: #F5F5F5;
$BOX_TITLE_FONT_COLOR: #2090CD;
$BOX_SUBTITLE_FONT_COLOR: #ABABAB;
$BOX_BORDER_COLOR: #EBEEF5;
$BOX_HEADER_BACKGROUND: #F5F5F5;

//order
$CREATE_BACKGROUND: #FFFFFF;
$CREATE_BORDER_COLOR: #EBEEF5;
$CREATE_HEADER_FONT_COLOR: #2090CD;
$CREATE_SUB_HEADER_FONT_COLOR: #ABABAB;
$CREATE_PRODUCT_TABLE_TOOLS_BACKGROUND: #F5F5F5;
$CREATE_PRODUCT_TABLE_TOOLS_BORDER_COLOR: #EAEDF4;
$CREATE_PRODUCT_TOOLS_BACKGROUND: #FFFFFF;
$CREATE_ORDER_DETAIL_TOOLS_TITLE: #2090CD;
$CREATE_ORDER_DETAIL_TOOLS_BORDER: #ABABAB;
$CREATE_ORDER_DETAIL_TOOLS_READ_BACKGROUND: #F5F5F5;