/*fade*/
.fade-enter-active,
.fade-leave-active {
    transition: all 0.2s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
    transform: translateY(80px);
}

/*bread*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
    transition: all .2s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
    opacity: 0;
    transform: translateX(-20px);
}